html {
	scroll-behavior: smooth;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	background: #fff;


}

input {
	font-family: $font-primary;
	outline: none;

	&::placeholder {
		font-family: $font-primary;
	}
}

body {
	color: $color;
	font-size: 14px;
	line-height: $line-height;
	font-family: $font-primary;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background-color: $dark_bg;
	position: relative;

	@include media('>=tablet') {
		font-size: $font-size;
	}
}

address {
	font-style: normal;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}


.scrolltop {
	width: 100%;
	margin: 0 auto;
	position: fixed;
	bottom: 20px;
	right: 10px;
	z-index: 20;
}


/*1*/
[class*='brand-bg'] {
	background-color: $primary-color;
	height: 15vh;
	width: 75%;
	margin-bottom: 25px;
}

/*2*/
::selection {
	color: $tertiary-color;
	background: $secondary-color;
}

p {
	margin: 0 0 27px;
}

a {
	color: $color;
	transition: all .15s ease-in-out;

	&:hover {
		text-decoration: none;
	}
}

i,
em {
	font-weight: 400;
}

img {
	max-width: 100%;
	display: block;
}

/*3*/

ol {
	margin: 0 0 0 16px;
	padding: 0;
	// counter-reset: li;

	li {
		// list-style: none;
		list-style-position: outside;
		position: relative;
		padding-left: 26px;
		margin-bottom: 18px;

		// &:before {
		// 	content: counter(li, decimal) ".";
		// 	counter-increment: li;
		// 	margin-left: 0;
		// 	margin-right: 0;
		// 	color: $tertiary-color;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0
		// }

		&::marker {
			color: $tertiary-color;
		}
	}
}

/*4*/

ul {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		color: $grey;
		padding-left: 14px;
		margin: 0 0 0 10px;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			background-color: $tertiary-color;
			border-radius: 50%;
			width: 4px;
			height: 4px;
			left: 0;
			top: 10px;
			display: inline-block;

			@include media('>=1024px') {
				top: 14px;
			}
		}
	}
}

dl {
	padding-left: 30px;

	dt {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 16px;
	}

	dd {
		padding: 0;
		margin: 0 0 24px;
	}
}

/*5-6*/

.font-weight-light {
	font-weight: lighter;
}

.font-weight-bold {
	font-weight: bold;
}

.font-weight-Regular {
	font-weight: 400;
}

.font-weight-Medium {
	font-weight: 500;
}

.font-weight-SemiBold {
	font-weight: 600;
}

/*7-8*/
h1,
h2,
h3,
h4,
h5,
h6,
.title_1,
.title_2,
.title_3,
.title_4,
.title_5,
.title_6 {
	line-height: 1.5;
	color: $secondary-color;
	font-weight: 700;
	font-family: $font-primary;
	text-align: center;
	margin: 0 0 35px;
}

h1,
.title_1 {
	font-size: 65px;
	margin-bottom: 10px;

	@include media('>=tablet') {
		font-size: 128px;
	}
}

h2,
.title_2 {
	font-size: 32px;
	margin-bottom: 40px;
	font-weight: 700;
	text-align: center;
	color: #242424;

	@include media('>=tablet') {
		font-size: 48px;
		text-align: left;
	}
}

h3,
.title_3 {
	font-size: 36px;
}

h4,
.title_4 {
	font-size: 24px;
}

h5,
.title_5 {
	font-size: 20px;
}

h6,
.title_6 {
	font-size: 16px;
}


/*9*/
input {
	font-family: $font-primary;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;

	&+label {
		color: $white;
		cursor: pointer;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			margin-right: 19px;
			max-width: 24px;
			width: 100%;
			height: 24px;
			background-color: transparent;
			border: 1px solid $white;
			border-radius: 2px;
		}

		&:after {
			position: absolute;
			content: '';
			width: 8px;
			height: 8px;
			background: $primary-color;
			border-radius: 50%;
			left: calc(50% - 4px);
			bottom: 32px;
			opacity: 0;

			@include media('>=tablet') {
                width: 16px;
				height: 16px;
				bottom: auto;
				left: 28px;
				top: 35px;
            }
		}
	}
}

input[type="radio"]+label:before {
	border-radius: 50%;
}

input[type="checkbox"]+label:before {
	background-color: $white;
}

input[type=radio]:checked+label:after {
	opacity: 1;
}


input[type=radio]:checked+label:before {
	border-radius: 50%;
	background: url(assets/img/radio.svg) center/14px no-repeat transparent;
	border-color: $white;
}


input:checked+label {
	&:before {
		content: '';
		background: url(assets/img/checkbox.svg) center/12px no-repeat $white;
		border-color: $white;
	}
}


/*10-11*/

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: $font-primary;
	padding: 11px 26px;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
	line-height: 1.5;
	background-color: transparent;
	border: none;
	transition: all .15s ease-in-out;
	border-radius: 34px;

	&:disabled {
		pointer-events: none;
		opacity: 0.3;
	}

	&:hover {
		opacity: 0.75;
		color: $dark_bg;
	}

	@include media('>=992px') {
		font-size: 16px;
		padding: 13px 26px;
	}
}

.btn-primary {
	color: $white;
	background-color: $primary-color;

	&:hover {
		color: $white;
		opacity: 0.75;
	}
}

.btn-secondary {
	background-color: $white;
	color: $primary-color;
	border: 1px solid $primary-color;

	&:hover {
		background-color: $primary-color;
		color: $white;
		border-color: $primary-color;

	}
}

.btn-success {
	color: $primary-color;
	background-color: transparent;

	&:hover {
		background-color: $secondary-color;
		border-color: $secondary-color;
	}
}

.btn-danger {
	color: #fff;
	background-color: transparent;

	&:hover {
		color: #0c0c0c;
		background-color: #fff;
	}
}

.btn-link {
	color: $black;
	background-color: #E2E2E2;

	&:hover {
		color: #fff;
		background-color: $secondary-color;
	}
}

/*12*/
/*13*/
.scroll-x {
	overflow: auto;
}

.scroll-x::-webkit-scrollbar-thumb {
	background-color: $secondary-color;
	border-radius: 10px;
}

.scroll-x::-webkit-scrollbar {
	height: 1px;
	background-color: #DFDCDC;
	border: 0 solid #DFDCDC;
	border-radius: 10px;
}

.scroll::-webkit-scrollbar {
	width: 3px;
	border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
	background-color: $primary-color;
	background-clip: padding-box;
	border: 0 solid #DFDCDC;
	border-radius: 10px;

	&:hover {
		background-color: $tertiary-color;
		cursor: pointer;
	}
}

.scroll::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ADC9FC;
	cursor: pointer;
}

::-webkit-scrollbar-button {
	background-color: transparent;
	display: none;
}

/* IE */
.scroll {
	scrollbar-face-color: $secondary-color;
	scrollbar-shadow-color: #DFDCDC;
	scrollbar-highlight-color: #DFDCDC;
}

/* FireFox */
.scroll {
	scrollbar-color: $secondary-color #DFDCDC;
	padding-right: 15px
}

.scroll {
	overflow-x: hidden;

	&_x {
		overflow-x: scroll;
		overflow-y: hidden;
		padding-right: 0;
		padding-bottom: 20px;

		@include media('>1280px') {
			overflow-x: hidden;
		}

		&::-webkit-scrollbar {
			height: 6px;
			max-width: 300px;
		}
	}
}


.scroll-heidden::-webkit-scrollbar {
	width: 0px;
}

.slick-arrow {
	position: absolute;
	background-color: $primary-color;
	border-radius: 50%;
	transition: background-color ease-in-out 0.3s;
	width: 56px;
	height: 56px;
	top: -103px;
	z-index: 10;
	cursor: pointer;
	border: none;
	font-size: 0;
	transition: all .2s ease-in-out;

	// &:before,
	// &:after {
	// 	font-family: 'icomoon';
	// 	content: '\e900';
	// 	font-size: 16px;
	// 	color: $white;
	// }

	&.slick-next {
		right: 0;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.999999 13L7 7L1 1' stroke='%23E0E3EC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	&.slick-prev {
		right: 74px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 1L1 7L7 13' stroke='%23E0E3EC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	&:hover {
		opacity: .85;
	}


}

.slick-dots {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	list-style: none;
	z-index: 10;
	display: flex;
	justify-content: center;

	li {
		margin: 0 4px;
		padding: 0;
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #fff;
		border-radius: 50%;
		transition: all .2s ease-in-out;

		&.slick-active {
			border-color: $primary-color;

			button {
				background-color: $primary-color;
			}
		}

		&:before {
			display: none;
		}
	}

	button {
		background: #D3E3FF;
		cursor: pointer;
		border: none;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		line-height: 0;
		font-size: 0;
		transition: background-color ease-in-out 0.3s;
		padding: 0;

		&:hover {
			background-color: $primary-color;
		}
	}
}

.container {
	max-width: 1310px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;

	// &_xm {
	// 	max-width: 1240px;
	// }

	// &_sm {
	// 	max-width: 1340px;
	// }

	// &_xl {
	// 	max-width: 1645px;
	// }

	// &_lg {
	// 	max-width: 1640px;
	// }

	&_df {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	@include media('>=desktop-lg') {
		// padding: 0 40px;
	}
}

.btn-holder {
	text-align: center;
}

.breadcrumbs-holder {
	padding: 0 15px;
	margin-top: 20px;
	margin-bottom: 40px;

	@include media('>=tablet') {
		margin-top: 0;
		margin-bottom: 80px;
	}
}

.breadcrumbs {
	padding: 20px 0;
	max-width: 1360px;
	margin: 0 auto;
	font-size: 16px;

	@include media('>=tablet') {
		padding: 40px 0;
	}

	a {
		margin-right: 0;
		color: $secondary-color;
		text-decoration: none;

		&:hover {
			color: $primary-color;
		}

		&+span {
			margin-left: 0;
		}
	}
}

.align-center {
	text-align: center;
}

.grecaptcha-badge {
	display: none;
}