///fonts///
$font-primary: "Roboto", sans-serif;
$font-size: 18px;
$section-title: 32px;
$line-height: 1.5;
$color: #242424;
$font-weight: 400;

///colors///
$white: #fff;
$black: #000;
$dark_bg: #151515;
$green: #33D896;
$grey: #8C93B1;
$yellow: #FEB200;
$red: #B20000;
$grey: #6B7A8F;

$primary-color: #2174FF;
$secondary-color: #33535F;
$tertiary-color: #00A39C;
$green-hover: #7DF4CD;
$modal-color: #808080;
$calculator-color: #F4F4F4;


$label-red: #F93838;
$label-purpur: #8683EF;
$label-green: #70D61F;

$required: $primary-color;
$placeholder: #bdbdbd;

$breadcrumbs-slash: $secondary-color;
$breadcrumbs-link: $tertiary-color;
$breadcrumbs-link-hover: $primary-color;
$breadcrumbs-last-child: #B2B1B1;

